#noteEditorContainer {
  background-color: var(--light2);
  width: 100%;
  /* height: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#noteEditor {
  width: 100%;
  height: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--light1);
}

#noteEditorText {
  padding: 6px;
  width: 100%;
  height: 100%;
}

#noteEditorHeader {
  padding: 0px 10px;
  font-size: 20px;
  border: none;
}

textarea {
  box-sizing: border-box;
  border: 2px solid #ccc;
  resize: none;
  border-radius: 3px;
}
