:root {
  --light1: #fff;
  --light2: #b5b5b5;
  --med1: #7e7e7e;
  --med2: #4c4c4c;
  --dark1: #343434;
  --dark2: #000000;
  /*  to use these variables you put var(--variableName)  */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  min-height: 100vh;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -mox-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh);
  max-width: 600px;
  /* border: 5px solid black; */
  margin: auto;
  /* background-color: lightpink; */
}

header {
  width: 700px;
  padding: 0.5em;
  color: var(--dark2);
  display: flex;
}

main {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  padding-top: 20px;

  align-items: center;
  overflow-y: auto;
  max-height: 80%;
}

footer {
  width: calc(100%);
  padding: 0 0.25em;
  background-color: var(--dark2);
  color: aliceblue;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
}
